/*------------------------------*\
			  BASE
\*------------------------------*/

* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	margin: 0;
}

body {
	padding: 12px;
	background-color: black;
}

img {
	position: absolute;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

#acs-ad-link {
	display:inline-block;
}

#acs-ad-holder {
	@include size(300px 250px);
	position: relative;
	overflow: hidden;
	background: black;
	#veil {
		@include size(inherit inherit);
		background-color: #000;
		@include position(absolute, 0 0 0 0);
		z-index: 4999;
	}
}

#acs-ad-background {
	position: absolute;
	width: 600px;
	height: 500px;
	background: url('../media/img/ad_background.jpg') no-repeat 0px 0px;
	transform: translate3d(0px,-60px,0px) scale(2.6);
	transform-origin: 0px 0px;
}

#acs-ad-txt1 {
	top: 134px;
	width: inherit;
	text-align: center;
}

#acs-ad-txt2 {
	@include position(absolute, 142px 0px null 0px);
	@include margin(0 auto);
}

#acs-ad-txt3 {
	top: 96px;
	right: 15px;
}

#acs-ad-logo {
	top: 13px;
	right: 17px;
}

#acs-ad-txt4 {
	top: 172px;
	right: 23px;
}

#acs-ad-txt5 {
	top: 189px;
	right: 30px;
}

#acs-ad-txt6 {
	top: 220px;
	text-align: center;
	right: 0;
	left: 0;
	color: darkgray;
}

#acs-ad-txt7 {
	text-align: center;
	top: 143px;
	right: 28px;
}

#acs-donate {
	@include size(122px 39px);
	@include position(absolute, 167px 23px null null);
	font-family: 'Roboto', Arial, sans-serif;
	letter-spacing: 0.5px;
	font-weight: 500;
	width: 122px;
	height: 39px;
	font-size: 16px;
	text-align: center;
	line-height: 2.25;
	color: #fff;
	background-color: #3067b3;
}