// ***********************************
// TYPOGRAPHY AND LINKS
// ***********************************

.acs-ad-txt {
	position: absolute;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
	font-size: 15px;
	color: #fff;
}