// ***********************************
// TYPOGRAPHY AND LINKS
// ***********************************

.acs-ad-txt {
	position: absolute;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
	font-size: 15px;
	color: #fff;
}

.keyword {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 900;
	font-size: 76px;
	text-transform: uppercase;
	letter-spacing: -3px;
	color: rgba(255,255,255,0.8);
	text-align: center;
	transform: scaleX(0.75);
}